PORT=8081 #DEV_SERER
NITRO_PORT=8081  #PROD_SERVER

# OpenAI Configuration
OPENAI_API_KEY=your_api_key_here
OPENAI_BASE_URL=http://your-base-url/v1
OPENAI_MODEL=google/gemini-2.5-flash-lite-preview-06-17